/****** Object:  Table [dbo].[CopyActivityExecutionPlan_Staging] ******/
CREATE TABLE [dbo].[CopyActivityExecutionPlan_Staging](
	[SQL Script to Merge] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
