/****** Object:  Table [dbo].[CopyActivityDataFileSystem_Staging] ******/
CREATE TABLE [dbo].[CopyActivityDataFileSystem_Staging](
	[SQL DATA SCRIPT] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
