/****** Object:  Table [dbo].[CopyActivityDataADLS_Staging] ******/
CREATE TABLE [dbo].[CopyActivityDataADLS_Staging](
	[SQL Script To Merge] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
