/****** Object:  Table [dbo].[CopyActivityDataSQLScript_Staging] ******/
CREATE TABLE [dbo].[CopyActivityDataSQLScript_Staging](
	[SQL DATA SCRIPT] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
